
nav ul 
{
    float:center;
    margin-right: 20px;
    text-align: center;
}
nav ul li
{
    display:inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a
{
    color: goldenrod;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: lowercase;
    font-weight: bold;
}

a.active,
a:hover
{
    background:green;
    transition: .5s;
}

h1
{
    color:yellow; 
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2
{
    color:green; 
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

button
{
    padding: 16px,30px;
    margin: 12px,6px;
    border-radius: 5px;
    border-width: 5px;
    border-color: rgb( 255, 69, 0);
    border-style:inset;
    text-align: center;
    font-size: 15px;
    font-family: Georgia;
    font-weight: bold;
    color:blue;
    cursor:pointer;
    background-color:ghostwhite;
    background-image:radial-gradient(rgb(255, 0, 0),(144, 148, 144));
    height: 50px;
    width: 75px;
}

body
{
    background-image: url("hawk.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}